body, header p{
    margin: 0%;
    padding: 0%;
    border: 0;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
}

h1.main, h2.main{
    margin-top: 2%;
    margin-bottom: 2%;
}

header{
    width: 100%;
    background-color: #222A35;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    padding-top: 2%;
    padding-bottom: 2%;

}
.covidmity{
    position: fixed;
    text-transform: lowercase;
    color: white;
    letter-spacing: 15px;
    font-weight: bold;
    font-size: 40px;
    /* background-color: yellow; */
    margin-left: 3%;
}

.logo{
    position: fixed;
   margin-left: 25%;
   margin-top: -1.5%;
   
}

.nav{
    position: fixed;
    right: 0;
    /* background-color: beige; */
    letter-spacing: 3px;
    text-transform: uppercase;
    float: right;
    margin-top: 0.75%;
    margin-right: 3%;
    width: 40%;
}

.nav a{
    /* background-color: red; */
    margin-left: 7%;
    color: white;
    text-decoration: none;
}

.main{
    margin: 0% 3% 0% 3%;
    color: #222A35;
}

h1{
    letter-spacing: 2px;
}

h2{
    letter-spacing: 2px;
    font-size: 170%;
}

#newsrow img{
    display: inline-block;
    width: 80%;
    height: 80%;
    border-radius: 1em;
    margin-top: 10%;
}

#newsrow p{
    margin: 10%;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: bold;
    line-height: 20px;
    color: #222A35;
}

#newsrow a{
    text-decoration: none;
    border-radius: 5em;
    padding: 4% 4%;
    font-family: Arial, Helvetica, sans-serif ;
    background-image: linear-gradient(to bottom right,  #222A35, #2E75B6);
    color: white;
    overflow: hidden;
}

.link{
    margin: 10%;
}

.article{
    background-color: #D6DCE5;
    width: 19%;
    margin: 0% 3%;
    float: left;
    border-radius: 1em;
    text-align: center;
    }

#demo{
    position: relative;
    background-color: #222A35;
    float: left;
    min-width: 5%;
    min-height: 5%;
    font-family: Arial, Helvetica, sans-serif, sans-serif;

    font-size: 90%;
    
    color: white;
    border-radius: 30%;
    padding: 3%;

    margin-left: 2.5%;

    margin-top: 0%;
    bottom: 0;

    margin-right: 0.5%;
    font-weight: bold;

    border: 3px white double;


}

#selector{

    color: white;
}

#randomp{
    
    position: fixed;
    border: 3px white double;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 25%;
    margin-top: 2%;
  
    margin-left: 2%;
    font-size: 150%;
    float: left;
    width: 50%;
    padding: 2%;
    left: 0;



}

#mainparagraph{

    position: relative;
    color: white;
    border:  3px white solid;
    font-size: 300%;

    margin-left: 20% ;
    margin-right: 20%;
    margin-top: 4%;
    padding: 2%
}

#randomimg{

    position: absolute;

    right: -2;
   
    width: 20%;
    margin-top: 9%;
    margin-left: 15%;

    border: 3px black double;


    
    

   
}
 
#button{

    position: relative;

    background-color: #222A35;
    margin-top: 2%;
    margin-left: 40%;
    color: white;
    border-radius: 15%;
    padding: 2%;
    border: 3px white double;

}

#button2{

    position: absolute;

    background-color: #222A35;
    margin-top:  -14%;
    margin-left: 37%;
    color: white;
    border-radius: 15%;
    padding: 2%;
    border: 3px white double;

}


#header{

    position: relative;

    margin-left: 17%;
    margin-right: 20%;
    margin-top: 5%;
    font-size: 300%;
    color: white;
    text-align: center;


}

#header2{


    position: relative;

    margin-left: 17%;
    margin-right: 20%;
    font-size: 100%;
    margin-top: -1%;
    color: white;
    text-align: center;

}

#randlinks{

    color: white;

}



#myVideo {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
     
  }


  #familyp{

    position: absolute;

    font-size: 150%;
    margin-top: 6%;
    color: white;
    padding-left: 3%;
    margin-right: 7%;


  }

  #textbox{

    position: absolute;
    width: 2%;
    margin-left: 32%;
    margin-top: -10%;
  }


  #test{

    position: absolute;
    color: black;
    background-color: white;
    margin-left: 70%;
  }

  .item{

    position: relative;
    float: right;
    margin-right: 6%;
    margin-left: 0;

    background-color: white;
    border: 3px black solid;

    color: black;
    width: 5%;
    font-size: 100%;
    padding: 2%;



  }

  #milk{

        position: relative;
        float: right;
        margin-right: 6%;
        margin-left: 0;
    
        background-color: white;
        border: 3px black solid;
    
        color: black;
        width: 5%;
        font-size: 100%;
        padding: 2%;
    
    
    
  }

  #mask{

    position: relative;
    float: right;
    margin-right: 6%;
    margin-left: 0;

    background-color: white;
    border: 3px black solid;

    color: black;
    width: 5%;
    font-size: 100%;
    padding: 2%;



}

#soap{

    position: relative;
    float: right;
    margin-right: 6%;
    margin-left: 0;

    background-color: white;
    border: 3px black solid;

    color: black;
    width: 5%;
    font-size: 100%;
    padding: 2%;



}

  .clear{

    clear: both;
  }

  #resources{

    margin-left: 20%;
    margin-right: 20%;

  }
