body, header p{
    margin: 0%;
    padding: 0%;
    border: 0;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
}

h1.main, h2.main{
    margin-top: 2%;
    margin-bottom: 2%;
}

header{
    width: 100%;
    background-color: #222A35;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    padding-top: 2%;
    padding-bottom: 2%;
}
.covidmity{
    text-transform: lowercase;
    color: white;
    letter-spacing: 15px;
    font-weight: bold;
    font-size: 40px;
    /* background-color: yellow; */
    margin-left: 3%;
}

.nav{
    /* background-color: beige; */
    letter-spacing: 3px;
    text-transform: uppercase;
    float: right;
    margin-top: 0.75%;
    margin-right: 3%;
    width: 40%;
}

.nav a{
    /* background-color: red; */
    margin-left: 10%;
    color: white;
    text-decoration: none;
}

.main{
    margin: 0% 3% 0% 3%;
    color: #222A35;
}

h1{
    letter-spacing: 2px;
}

h2{
    letter-spacing: 2px;
    font-size: 170%;
}

#newsrow img{
    display: inline-block;
    width: 80%;
    height: 80%;
    border-radius: 1em;
    margin-top: 10%;
}

#newsrow p{
    margin: 10%;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: bold;
    line-height: 20px;
    color: #222A35;
}

#newsrow a{
    text-decoration: none;
    border-radius: 5em;
    padding: 4% 4%;
    font-family: Arial, Helvetica, sans-serif ;
    background-image: linear-gradient(to bottom right,  #222A35, #2E75B6);
    color: white;
    overflow: hidden;
}

.link{
    margin: 10%;
}

.article{
    background-color: #D6DCE5;
    width: 19%;
    margin: 0% 3%;
    float: left;
    border-radius: 1em;
    text-align: center;
    }

#demo{
    background-color: #222A35;
    
    min-width: 1%;
    min-height: 20%;
    font-family: Arial, Helvetica, sans-serif, sans-serif;

    font-size: 200%;
    margin-left: 20%;
    margin-right: 20%;
    color: white;
    border-radius: 30%;
    padding: 8%;


}

#selector{

    color: white;
}
