body, header p{
    margin: 0%;
    padding: 0%;
    border: 0;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    background-color: #222A35;
}

h1.main, h2.main{
    margin-top: 2%;
    margin-bottom: 2%;
}

header{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    padding-top: 2%;
    padding-bottom: 4%;
}
.covidmity{
    position: fixed;
    text-transform: lowercase;
    color: white;
    letter-spacing: 15px;
    font-weight: bold;
    font-size: 40px;
    /* background-color: yellow; */
    margin-left: 3%;
    width: 50%;
}

.logo{
    position: fixed;
   margin-left: 25%;
   margin-top: -1.5%;
   
}

.nav{
    position: fixed;
    right: 0;
    /* background-color: beige; */
    letter-spacing: 3px;
    text-transform: uppercase;
    float: right;
    margin-top: 0.75%;
    margin-right: 3%;
    width: 50%;
}

.nav a{
    /* background-color: red; */
    margin-left: 7%;
    color: white;
    text-decoration: none;
}

.main{
    margin: 0% 3% 0% 3%;
    color: #222A35;
}

h1{
    letter-spacing: 2px;
}

h2{
    letter-spacing: 2px;
    font-size: 170%;
}

#newsrow img{
    display: inline-block;
    width: 80%;
    height: 80%;
    border-radius: 1em;
    margin-top: 10%;
}

#newsrow p{
    margin: 10%;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: bold;
    line-height: 20px;
    color: #222A35;
}

#newsrow a{
    text-decoration: none;
    border-radius: 5em;
    padding: 4% 4%;
    font-family: Arial, Helvetica, sans-serif ;
    background-image: linear-gradient(to bottom right,  #222A35, #2E75B6);
    color: white;
    overflow: hidden;
}

.link{
    margin: 10%;
}

.article{
    background-color: #D6DCE5;
    width: 19%;
    margin: 0% 3%;
    float: left;
    border-radius: 1em;
    text-align: center;
    }

#demo{
    position: relative;
    background-color: #8497B0;
    text-align: center;
    float: left;
    width: 17.5%;
    min-width: 5%;
    min-height: 5%;
    font-family: Arial, Helvetica, sans-serif, sans-serif;

    font-size: 90%;
    
    color: white;
    border-radius: 1em;
    padding: 1.75% 2%;

    margin-left: 1.75%;

    margin-top: 0%;
    bottom: 0;

    margin-right:1.75%;
    font-weight: bold;
}

#tips{
    overflow: hidden;
}

#selector{
    text-decoration: none;
    color: white;
}

#randomp{
    
    position: fixed;
    border: 3px white double;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10%;
    margin-top: 2%;
    
    margin-left: 2%;
    font-size: 150%;
    float: left;
    width: 50%;
    padding: 2%;
    left: 8%;
}

#mainparagraph{

    position: relative;
    color: white;
    border:  3px white solid;
    font-size: 250%;

    margin-left: 20% ;
    margin-right: 20%;
    margin-top: 4%;
    padding: 2%
}

#randomimg{
    position: absolute;
    float: right;
    width: 20%;
    right: 12%;
    height: 30%;
    border: 3px black double;
}
 
#button{
    position: relative;
    background-color: #222A35;
    margin-top: 2%;
    text-align: center;
    color: white;
    border-radius: 5em;
    padding: 2%;
    border: 0;

}

#btn-area{
    width: 100%;
    text-align: center;
}
#header{
    position: relative;
    width: 100%;
    margin-top: 5%;
    font-size: 275%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#header2{
    position: relative;
    margin-left: 17%;
    margin-right: 20%;
    font-size: 100%;
    margin-top: -1%;
    color: #D6DCE5;
    text-align: center;

}

a{
    text-decoration: none;
}

#randlinks{

    color: white;

}



#myVideo {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
     
  }

  footer{
      position: absolute;
      top: 90%;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      width: 100%;
      letter-spacing: 5px;
  }

  #tips-area{
      width: 100%;
  }

  #apppic1{
      width: 100%;
      margin-top: 5%;
  }

  #apppic1 img{
      width: inherit;
      z-index: 0;
  }

  #button2{
    /*position: absolute;
    background-color: #222A35;
    margin-top:  -14%;
    margin-left: 37%;
    color: white;
    border-radius: 15%;
    padding: 2%;
    border: 3px white double;*/
  }

  #familyp{
    /*
    font-size: 150%;
    margin-top: 6%;
    padding-left: 3%;
    margin-right: 7%; 
    position: absolute;
    color: white;*/
  }

  #textbox{
    width: 10%;
    height: 20%;
 
  }


  #test{

    position: absolute;
    color: black;
    background-color: white;
    margin-left: 70%;
  }

  /*.item{

    position: relative;
    float: right;
    margin-right: 6%;
    margin-left: 0;

    background-color: white;
    border: 3px black solid;

    color: black;
    width: 5%;
    font-size: 100%;
    padding: 2%;



  }*/

  

 

  .clear{

    clear: both;
  }

  /*#resources{

    margin-left: 20%;
    margin-right: 20%;
  }*/

  #resources-left{
      background-color: #333F50;
      position: absolute;
      left: 10%;
      top: 45%;
      padding: 3% 5%;
      border-radius: 3em;
      width: 30%
      display: inline-block;
      text-align: center;
  }

  #resources-left p{
      color: white;
      font-weight: bold;
  }

  table{
      position: absolute;
      width: 40%;
      text-align: center;
      right: 10%;
      top: 45%;
  }

  table p, #milk, #mask, #soap{
      text-align: center;
      width: 100%;
      color: white;
      text-transform: uppercase;
      letter-spacing: 3px;
  }

  table td, table th{
    text-align: center;
    overflow: hidden;
  }

  table tr{
    width: 40%;
    background-color: #333F50;

  }

  #mainapp{
      width: 100%
  }

  .kivy{
        float: right;
        width: 40%;
        margin-top: 7%;
        margin-right: 5%;
  }

  #mainapp p{
      color: white;
      font-size: 20px;
      margin-top: 10%;

  }

  .apptitle{
      font-weight: bold;
  }

  #parakivy{
      width: 40%;
      text-align: justify;
      line-height: 50px;
      position: absolute;
      left: 5%;
      font-weight: bold;
  }

#appt{
    width: 100%;
    float: right;
}
